.projectsCategoryTitle {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 2vh;
}
.allProjectsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 3vh;
  padding: 4vh 3vw;
}
.singleProjectContainer {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
}
.projectImg {
  width: 94vw;
}  
.projectInfo > p {
  text-align: center;
  margin: 0;
  font-size: 1.3rem;
  font-weight: 500;    
}
@media screen and (min-width: 500px) {  
  .projectsCategoryTitle {
    margin-top: 3vh;
    margin-bottom: 2vh;    
    font-size: 1.2rem;    
  }
  .allProjectsContainer {      
    flex-direction: row;
    flex-wrap: wrap;      
  } 
  .projectInfo > p {    
    font-size: 1rem;        
  }
  .projectImg {
    width: 43vw;
  } 
  .foterDiv {
    margin-top: 10vh;
  }   
}
@media screen and (min-width: 900px) { 
  .overallContainer {
    padding-top: 4vh;
    margin-bottom: 5vh;
    margin-top: 3vh;
  }   
  .projectImg {
    width: 30vw;
  }    
}
@media screen and (min-width: 1200px) {    
  .projectImg {
    width: 25vw;
  }    
}