.container{
  display: flex;
  flex-direction: column;    
  align-items: center;  
  align-content: center;
  justify-content: space-between;  
  padding: 2vh 0vw;
  min-height: 8vh;
  background-color: white;   
}
.logoMenue {
  display: flex;
  align-items: center;
  justify-content:center; 
  padding-left: 10vw;      
}
.logo {   
  width: 200px;
  height: 50px;
  margin-right: 12vw;  
}
.menue {    
  display: flex;     
  min-width: 27px;
  min-height: 27px;
  cursor: pointer;
}
.linksContainerOnMenueClick {
  display: flex;    
  flex-direction: column; 
  list-style-type: none; 
  align-self: start;
  gap: 25px;
  margin-top: 5vh;
  margin-bottom: 5vh;       
}
/* animation start */
.menuEnter {
  opacity: 0;
  margin-top: -20px;
}
.menuEnterActive {
  opacity: 1;
  margin-top: 20px;
  transition: opacity 200ms, margin-top 500ms;
}
.menuEnterDone {
  opacity: 1;
  margin-top: 20px;
}
.menuExit {
  opacity: 1;
  align-self: start;
}
.menuExitActive {
  opacity: 0;
  margin-top: -190px;
  transition: opacity 200ms, margin-top 500ms;
  pointer-events: none;
  align-self: start;
  list-style-type: none;  
}
/* animation end */ 

@media screen and (min-width: 500px) {
  .linksContainerOnMenueClick {    
    gap: 15px;         
  } 
}

@media  screen and (min-width: 900px) {
   .container{
    flex-direction: row;
    justify-content: space-around;
    gap: 5vw;
    padding: 1vh 2vw;
  } 
  .logoMenue {    
    padding: 0;      
  } 
  .logo {
    margin: 0;  
  }  
  .menue {
    display: none; 
  }
  .linksContainer {
    display: flex;
    list-style-type: none;    
  }
}