.futerContainer {  
  display: flex;
  flex-direction: column;  
  background-color: lightgrey;
  padding: 2vh 10vw 6vh;    
}
.menuContainer {
  display: flex;
  flex-direction: column;  
  margin-top: 3vh;  
}
.menuContainer > h4, p, a {
  margin: 0;
  text-align: left;  
  color: rgb(81, 78, 78); 
}
.menuContainer > p {  
  font-size: 1rem;  
}
.menuContainer > h4 {
  margin-top: 3vh;  
  margin-bottom: 2vh;  
}
.menuContainer > a {  
  margin-bottom: 1vh;
  text-decoration: none;   
}
.scrollToTopDiv {  
  text-align: end;
  font-size: 1.8rem;
  cursor: pointer;
}
.goToTopIcon {
  color:rgb(141, 111, 118)
}
.disclaimer {
  margin-top: 5vh;
  border-top: darkgray 1px solid;
  font-size: 0.8rem;
  text-align: center;
  color: rgb(81, 78, 78);
}
@media screen and (min-width: 500px) {
  .futerContainer {       
    padding: 0 5vw 15vh;       
  }
  .futerContentContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;        
  } 
  .menuContainer {
    width: 40vw;        
  } 
  .disclaimer {    
    width: 70%;
    text-align: center;
    margin: auto; 
    margin-top: 5vh;   
    color: rgb(81, 78, 78);
  }
}
@media screen and (min-width: 800px) {  
  .menuContainer {
    width: 20vw;
    margin-top: 3vh;    
  }
}